@{
    ViewData["Title"] = "Home Page";
}


<pre>

</pre>
<div class="text-center">
    <div class="card-img">
        <div class="row">
            <div class="col">
                <h1 class="display-4">
                    Welcome to VsBooking !
                    <br />
                    <br />
                    <img src="~/assets/VSBooking (324 x 303).png" alt="HomeImage" />
                </h1>
            </div>
        </div>

    </div>

<pre>





